/* Navbar styles */
nav {
  position: fixed;
  top: 0;
  height: 100%;
  right: 0;
  background-color: white;
  padding: 10px;
  box-shadow: 0 22px 52px rgb(214, 19, 19);
  z-index: 10;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* Set the direction to column for vertical layout */
  align-items: flex-start; /* Align items to the left side */
}

li {
  margin-bottom: 15px; /* Add spacing between each list item */
}

li a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  transition: color 0.3s ease;
  cursor: pointer;
}

li a:hover {
  color: #0070f3;
}

/* App styles */
main {
  margin-top: 60px; /* Adjust for fixed navbar */
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.section:hover {
  transform: scale(1.05); /* Zoom effect */
}

section {
  padding: 20px;
}
