@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}
button:hover {
  color: #04c;
}
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: lightgray;
  transition: 300ms;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

.App {
  display: flex;
}

/* SIDEBAR STYLES */

.delimg {
  width: 30px;
  cursor: pointer;
}

.plusimg {
  width: 50px;
  cursor: pointer;
}

.app-sidebar {
  width: 12%;
  height: 100vh;
  border-right: 1px solid #000000;
}

.app-sidebar-header {
  background-color: rgb(81, 121, 202);
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-notes {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
/* PADDING */
.app-sidebar-note {
  padding: 10px;
  cursor: default;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}

.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #ddd;
}
.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: rgba(0, 136, 204, 0.473);
  color: white;
}

/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 80%; /* Adjust to make space for the sidebar */
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Allow vertical scrolling if necessary */
}

.no-active-note {
  background-color: #7452ff;
  width: 70%;
  height: 100vh;

  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

/* Editing */
.app-main-note-edit {
  padding: 35px;
  text-align: center;
}

.app-main-note-edit input {
  outline: none;
  border-top: 1px;
  border-right: 1px;
  border-left: 1px;
  background-color: transparent;
  text-align: center;
  font-size: 3rem;
}

/* Preview */
